<h2>
Create your Ninja:
<form action="/" method="post">
  Persona:<input type="persona" name="persona"><br>
  Weapon:<input type="weapon" name="weapon"><br>
  Strength:<input type="strength" name="strength"><br>
<br><br>
Update your Ninja:<br>
  Persona:<input type="persona_update" name="persona_update"><br><br>
Change:<br>
  Weapon:<input type="weapon_update" name="weapon_update"><br>
<br><br>
Delete your Ninja:<br>
  Persona:<input type="persona_delete" name="persona_delete"><br>
  <input type="submit"><hr>
</form>