<h3>Super Secret Fighting Ninja</h3>
<img src="http://s3.amazonaws.com/codecademy-blog/assets/ninja_zpsa5dbe37a.jpg">
<br><hr><br>
<h3>You are joining an elite group:</h3>
<%Ninja.all.each do |n|%>
<%my_ninja=Ninja.find(n)%>
<%=my_ninja.persona%> with <%=my_ninja.weapon%> strength <%=my_ninja.strength%><br>
<%end%>